.color{
  color: blueviolet;
}

.h1, h1 {
  font-family: 'Lato', sans-serif;
  font-size: 1.0rem;
}

.h2{
  color: red;
}

.box {
  height: 400px;
  padding: 10px;
  background: #fff;
}

.margin-top-80 {
  margin-top: 80px;
}


.container{
  padding-top: 15px;
  white-space: normal;
  overflow-wrap: break-word;
}

.bg-light{
 box-sizing: Width 100%;

}